{% extends "base.html" %} {% load static %} {% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/filmes/">Home</a>
    </li>
    <li class="breadcrumb-item active">Listagem de filmes</li>
</ol>
<div class="row">
    <div class="container">
        <table class="table">
            <thead>

                <th>Nome</th>
                <th>Data de lançamento</th>
                <th>Gênero</th>
                <th>Opções</th>

            </thead>
            <tbody>
                {% for filme in filmes %}
                <tr>
                    <td>{{filme.nome}}</td>
                    <td>{{filme.dt_lancamento}}</td>
                    <td>{{filme.genero}}</td>
                    <td>
                        <a href="/filmes/filme/{{filme.id}}/">ver detalhes</a>
                        <a href="/filmes/filme/{{filme.id}}/edit/">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}