{% extends "base.html" %} {% load static %} {% block content %}
<div class="container-fluid">



    <ol class="breadcrumb">       
        <li class="breadcrumb-item active"> Filmes</li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <div class="card-group">
                <div class="card">
                    <img class="birdbox" src="{% static '/img/birdbox.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> Bird Box</h5>
                        <a href="https://www.netflix.com/title/80196789">
                            <button type="button" class="btn btn-outline-secondary">Assistir</button>
                        </a>
                    </div>

                </div>
                <div class="card">
                    <img class="amador" src="{% static '/img/amador.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Amador</h5>
                        <a href="https://www.netflix.com/title/80096984">
                            <button type="button" class="btn btn-outline-secondary">Assistir</button>
                        </a>
                    </div>

                </div>
                <div class="card">
                    <img class="blackmirror" src="{% static '/img/blackmirror.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Black Mirror</h5>
                        <a href="https://www.netflix.com/title/80988062">
                            <button type="button" class="btn btn-outline-secondary">Assistir</button>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-group">
                <div class="card">
                    <img class="vingadores" src="{% static '/img/os-vingadores.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Os Vingadores</h5>
                        <a href="https://www.netflix.com/title/70217913">
                            <button type="button" class="btn btn-outline-secondary">Assistir</button>
                        </a>

                    </div>

                </div>
                <div class="card">
                    <img class="rebeliao" src="{% static '/img/rebeliao.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Rebelião</h5>
                        <a href="https://www.netflix.com/title/80106035">
                            <button type="button" class="btn btn-outline-secondary">Assistir</button>
                        </a>
                    </div>

                </div>
                <div class="card">
                    <img class="tropa" src="{% static '/img/tropa_de_elite.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tropa de Elite 2</h5>
                        <a href="https://www.netflix.com/title/70100721">
                            <button type="button" class="btn btn-outline-secondary">Assistir</button>
                        </a>

                    </div>

                </div>
            </div>

        </div>
    </div>
    
    <ol class="breadcrumb">                  
        <li class="breadcrumb-item active"> Séries</li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <div class="card-group">
                <div class="card">
                    <img class="theoriginals" src="{% static '/img/the_originals.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> The Originals</h5>
                        <a href="https://www.netflix.com/title/70283261">
                            <button type="button" class="btn btn-outline-secondary">Assistir</button>
                        </a>

                    </div>

                </div>
                <div class="card">
                    <img class="thevampirediaries" src="{% static '/img/the_vampire_diaries.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Vampire Diaries</h5>
                        <a href="https://www.netflix.com/title/70143860">
                            <button type="button" class="btn btn-outline-secondary">Assistir</button>
                        </a>
                    </div>

                </div>
                <div class="card">
                    <img class="teenwolf" src="{% static '/img/teen_wolf.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Teen Wolf</h5>
                        <a href="https://www.netflix.com/title/70219484">
                            <button type="button" class="btn btn-outline-secondary">Assistir</button>
                        </a>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-group">
                <div class="card">
                    <img class="arrow" src="{% static '/img/arrow.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Arrow</h5>
                        <a href="https://www.netflix.com/title/70242081">
                            <button type="button" class="btn btn-outline-secondary">Assistir</button>
                        </a>
                    </div>

                </div>
                <div class="card">
                    <img class="prisonbreak" src="{% static '/img/prison_break.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Prison Break</h5>
                        <a href="https://www.netflix.com/title/70140425">
                            <button type="button" class="btn btn-outline-secondary">Assistir</button>
                        </a>
                    </div>

                </div>
                <div class="card">
                    <img class="thewalkingdead" src="{% static '/img/the_walking_dead.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Walking Dead</h5>
                        <a href="https://www.netflix.com/title/70177057">
                            <button type="button" class="btn btn-outline-secondary">Assistir</button>
                        </a>

                    </div>

                </div>
            </div>

        </div>

    </div>


</div>
{%endblock%}