.birdbox {
    width: 270px;
    height: 370px;
    margin: 5px
}


.amador {
    width: 270px;
    height: 370px;
    margin: 5px
}
.blackmirror {
    width: 270px;
    height: 370px;
    margin: 5px
}
.vingadores {
    width: 270px;
    height: 370px;
    margin: 5px
}
.rebeliao {
    width: 270px;
    height: 370px;
    margin: 5px
}
.tropa {
    width: 270px;
    height: 370px;
    margin: 5px
}
.theoriginals {
    width: 270px;
    height: 370px;
    margin: 5px
}
.thevampirediaries {
    width: 270px;
    height: 370px;
    margin: 5px
}
.teenwolf {
    width: 270px;
    height: 370px;
    margin: 5px
}
.arrow {
    width: 270px;
    height: 370px;
    margin: 5px
}
.prisonbreak {
    width: 270px;
    height: 370px;
    margin: 5px
}
.thewalkingdead {
    width: 270px;
    height: 370px;
    margin: 5px
}

.carousel {
    width: 830px;
    height: 650px;
}